<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Milb's Blog</title>
</head>

<body>
    <div id="grid">
        <ol>
            <li><a href="posts">all_posts</a></li>
            <li><a href="posts/1">post1</a></li>
            <li><a href="posts/2">post2</a></li>
            <li><a href="comments">all_comments</a></li>
            <li><a href="comments/1">comment1</a></li>
            <li><a href="comments/2">comment2</a></li>
        </ol>
    </div>
</body>

</html>